/fw/.settings/language.settings.xml
fw/.settings/stm32cubeide.project.prefs
*.lck
\#auto_saved_files\#
pcb/kicad/pcb_badge/pcb_badge-backups/*.zip

pcb/kicad/pcb_badge/fp-info-cache
pcb/kicad/pcb_badge/fp-info-cache
pcb/kicad/pcb_badge/fp-info-cache
pcb/kicad/pcb_badge/fp-info-cache
/sw/BadgeCommander/.venv
/sw/BadgeCommander/__pycache__
/.venv
*.spec
/build/BadgeCommander
/dist
/pcb-util/.venv
.DS_Store
.aider*
*.egg-info
/pcb/kicad/pcb_badge/Temp
.vscode
