<div #mapWrapper [ngClass]="{'map-wrapper-vertical-center': scaler < 100}" (scroll)="onMapWrapperScroll($event)"
    id="map-wrapper" class="disable-select">
    <div id="map-scale-layer" [style.height.%]="scaler">
        <img alt="2f, 3f" [src]="floorImg[floor]" />
        @for (point of points[floor]; track point.x){
        <div class="ring" [style.top.%]="point.x" [style.left.%]="point.y" [style.background]="`conic-gradient(var(--color-blue) 0rad ${scoreToRingRadius(point.score)}deg, 
            var(--color-red) ${scoreToRingRadius(point.score)}deg 360deg)`">
        </div>
        <div class="ring-bg" [style.top.%]="point.x" [style.left.%]="point.y"></div>
        <div class="score" [style.top.%]="point.x" [style.left.%]="point.y" [ngClass]="{'score0': point.score > 0, 'score1': point.score < 0}">{{point.score |abs}}</div>
        }
    </div>
</div>
<div id="floor-button" class="fab  disable-select">
    <div tabindex="0" (keypress)="changeFloor(1)" (click)="changeFloor(1)" [ngClass]="{'select': floor === 1}">4F</div>
    <div tabindex="0" (keypress)="changeFloor(0)" (click)="changeFloor(0)" [ngClass]="{'select': floor === 0}">3F</div>
</div>

<div id="zoom-button" class="fab disable-select">
    <div tabindex="0" (keypress)="zoom(10)" (click)="zoom(10)">+</div>
    <div tabindex="0" (keypress)="zoom(-10)" (click)="zoom(-10)">–</div>
</div>