.leaderboard-response-wrapper-scroll {
    width: 100%;
    overflow-x: visible;
}

@media screen and (max-width: 600px) {
    .leaderboard-response-wrapper-scroll {
        width: 100%;
        overflow-x: auto;
    }
}

.leaderboard-response-wrapper {
    min-width: 500px;
    width: 100%;
    padding: 0px 0px 10px;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    margin: 3px 0px;
}

.row-head {
    background-color: var(--off-white) !important;
    color: #505050;
    font-weight: bold;
}

.row:nth-child(2n) {
    background-color: #686c8a59;
}

.row>div:nth-child(1) {
    width: 50px;
}

.row>div:nth-child(2) {
    flex: 1;
}

.row>div:nth-child(3) {
    width: 80px;
    text-align: right;
    padding-right: 5px;
}

.sponsor-column {
    width: 10px;
    padding: 0px 4px;
    text-align: center;
}

.sponsor-column-header {
    position: relative;
    cursor: pointer;
}

.sponsor-column-header .tooltip {
    visibility: hidden;
    display: none;
    width: fit-content;
    white-space: nowrap;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    position: absolute;
    top: 30%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.sponsor-column:hover .tooltip {
    visibility: visible;
    opacity: 0.85;
    display: block;
}

.sponsor-column-fill {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--off-white);
}

.bar-label {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
}

.bar-label div {
    padding: 10px;
}

.bar-label-team0 {
    width: 50%;
}

.bar-label-team1 {
    width: 50%;
    text-align: right;
}

.bar {
    width: 100%;
    height: 10px;
    display: flex;
    margin: 0px 0px 10px;
    border-radius: 3px;
}

.bar div {
    height: 100%;
}

.bar-team0 {
    width: 0%;
    border-radius: 5px 0px 0px 5px;
    animation: gradient-shift-0 1s infinite alternate ease-in-out;
}

.bar-team1 {
    width: 0%;
    border-radius: 0px 5px 5px 0px;
    animation: gradient-shift-1 1s infinite alternate ease-in-out;
}

.bar-team-tie {
    width: 100%;
    border-radius: 0px;
    background-color: var(--off-white);
}

@keyframes gradient-shift-0 {
    0% {
        background-color: var(--color-red);
    }

    100% {
        background-color: var(--color-red-alternative);
    }
}

@keyframes gradient-shift-1 {
    0% {
        background-color: var(--color-blue);
    }

    100% {
        background-color: var(--color-blue-alternative);
    }
}