<div class="container">
    <h1>Leaderboard</h1>
    <div class="bar-label">
        <div class="bar-label-team0">{{ teamScore[0] | number }}</div>
        <div class="bar-label-team1">{{ teamScore[1] | number }}</div>
    </div>
    <div class="bar">
        <div class="bar-team0" [style.width.%]="team0Percent()"></div>
        <div class="bar-team1" [style.width.%]="team1Percent()"></div>
    </div>
    <div class="row-head row">
        <div>Rank</div>
        <div>Name</div>
        <div>Score</div>
    </div>
    @if (items$ | async; as items) {
    @for (item of items; track $index ;let rank = $index) {
    <div class="row">
        <div>{{rank+1}}</div>
        <div>{{item.name}}</div>
        <div>{{item.total_score | number}}</div>
    </div>
    }
    }
</div>